<a href="https://colab.research.google.com/github/alykhaled/Heart-Attack-Prediction-Model/blob/main/sgdClassifierModel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn import datasets
import torch
import torch.nn
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

X = pd.read_csv("heart.csv")
print(X.shape)
X.head()

(303, 14)

   age  sex  cp  trtbps  chol  fbs  ...  exng  oldpeak  slp  caa  thall  output
0   63    1   3     145   233    1  ...     0      2.3    0    0      1       1
1   37    1   2     130   250    0  ...     0      3.5    0    0      2       1
2   41    0   1     130   204    0  ...     0      1.4    2    0      2       1
3   56    1   1     120   236    0  ...     0      0.8    2    0      2       1
4   57    0   0     120   354    0  ...     1      0.6    2    0      2       1

[5 rows x 14 columns]

In [2]:
classifier_features = ['cp','sex','caa','exng','fbs','slp','restecg','thall']
linear_features = ["age","trtbps","chol","thalachh","oldpeak"]
target_col = ["output"]

In [3]:
# Scaling
from sklearn.preprocessing import RobustScaler

# Train Test Split
from sklearn.model_selection import train_test_split

# Models
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import SGDClassifier

# Metrics
from sklearn.metrics import accuracy_score

In [4]:
# creating a copy of df
X_new = X

# encoding the categorical columns
X_new = pd.get_dummies(X_new, columns = classifier_features, drop_first = True)

# defining the features and target
X = X_new.drop(['output'],axis=1)
y = X_new[['output']]

# instantiating the scaler
scaler = RobustScaler()

# scaling the continuous featuree
X[linear_features] = scaler.fit_transform(X[linear_features])
print("The first 5 rows of X are")
X.head()

The first 5 rows of X are

        age  trtbps      chol  thalachh  ...  restecg_2  thall_1  thall_2  thall_3
0  0.592593    0.75 -0.110236 -0.092308  ...          0        1        0        0
1 -1.333333    0.00  0.157480  1.046154  ...          0        0        1        0
2 -1.037037    0.00 -0.566929  0.584615  ...          0        0        1        0
3  0.074074   -0.50 -0.062992  0.769231  ...          0        0        1        0
4  0.148148   -0.50  1.795276  0.307692  ...          0        0        1        0

[5 rows x 22 columns]

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 42)
print("shape of X_train ", X_train.shape)
print("shape of X_test ",X_test.shape)
print("shape of y_train ",y_train.shape)
print("shape of y_test ",y_test.shape)

shape of X_train  (242, 22)
shape of X_test  (61, 22)
shape of y_train  (242, 1)
shape of y_test  (61, 1)

In [7]:
sgd_clf = SGDClassifier(random_state=42)

sgd_clf.fit(X_train, y_train)

# calculating the prediction
y_predicted = sgd_clf.predict(X_test)

# printing the accuracy
print("The test accuracy score of SGDClassifier is ", accuracy_score(y_test, y_predicted))

The test accuracy score of SGDClassifier is  0.8524590163934426

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)